[Unit]
Description=Configuration Service
Requires=etcd.service

[Service]
Restart=always
ExecStart=/usr/local/bin/confd \
 -backend etcdv3 \
 -node %%MASTER_NODE%%:4001 \
 -interval 15

[Install]
WantedBy=basic.target
